#dp {
  float: left;
  height: 150px;
}

#intro {
  text-align: justify;
  width: 500px;
  margin-left: 150px;
}

#name {
  color: #13133d;
  padding-top: 50px;
}

#current {
  margin-left: 2px;
  margin-top: -20px;
}

#head {
  width: fit-content;
  margin: 0 auto;
}

#detail {
  background-color: #0a0a23;
  color: #f5f6f7;
  margin: 20px auto 10px;
  max-width: 800px;
  padding: 0 10px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 25px 25px 25px 25px;
  gap: 1px;
  border-radius: 10px;
}

#nistLink {
  color: lightslategray;
  text-decoration: none;
}

#nistLink:hover, #nistLink:active {
  color: #1a6730;
  text-decoration: underline;
}

#content {
  max-width: 900px;
  margin: 0 auto;
}

.iconbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

}

.icon {
  width: 15px;
}

.boxLink {
  color: #f5f6f7;
  text-decoration: none;
}

.boxLink:hover, .boxLink:active {
  color: #fecc4c;
  text-decoration: underline;
}

.headerIcon {
  width: 40px;
  float: left;
}

.header {
  padding-top: 2px;
  padding-left: 50px;
  font-family: monospace;
  font-size: 30px;
  color: #13133d;
}
